table#TTS {
  border-radius: 20px;
  overflow: hidden;
}

#TTS td {
  width: calc(100 / 11 * 1%);
  aspect-ratio: 1 / 1;
  background-color: white;
  position: relative;
}

#TTS td[data-label]::before {
  content: attr(data-label);
  color: black;
  position: absolute;
  top: -5px;
  left: 5px;
}

#TTS td input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

#TTS td input.disabled {
  pointer-events: none;
  background: rgba(136, 255, 152, 0.671);
}

#TTS .block {
  background-color: #62CDFF;
}